@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* Global Styles */
html,
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #111827;
  background-color: #f3f4f6;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.page-container {
  min-height: 100vh;
  /* background: linear-gradient(to bottom right, #faf5ff, #eff6ff, #e0e7ff); */
  background: #e5ebfe;
}

/* Button Component Styles */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.button--lg {
  padding: 0.75rem;
  font-size: 1rem;
}

.button--ghost {
  background-color: transparent;
  border: none;
  color: #4b5563;
}

.button--ghost:hover {
  background-color: #f3f4f6;
}

/* Card Component Styles */
.card {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.027);
  transition: box-shadow 0.3s ease;
  border-radius: 0.5rem;
}

/* .card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
} */

.card-header {
  text-align: center;
  padding: 1rem 1rem 0 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .card-title {
    font-size: 1.5rem;
  }
}

.card-description {
  color: #4b5563;
  font-size: 1rem;
}

.card-content {
  padding: 1rem;
}

/* Badge Component Styles */
.badge {
  display: inline-flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  border-radius: 0.25rem;
  background-color: #dcfce7;
  color: #166534;
  border: #3c7e44 1px solid;
  /* border-radius: 2.976rem; */
}

.badge--secondary:hover {
  background-color: #dcfce7;
}

.status-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #3c7e44;
  border-radius: 50%;
}

/* Header Styles */
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #e5ebfe;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.75rem 1rem;
}

@media (min-width: 768px) {
  .header {
    padding: 3rem 7rem;
  }
}


/* Main Content Styles */
.main-container {
  /* max-width: 90%; */
  height: fit-content;
  margin: 0 auto;
  padding: 2rem 0rem;
  background: linear-gradient(to bottom right, #f0f6ff, #e9effe, #e5ebfe);
}

@media (min-width: 768px) {
  .main-container {
    padding: 4rem 1rem;
    max-width: 90%;
  }
}
/* Content Container */
.content-container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0rem;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .content-container {
    padding: 1rem;
  }
}

/* Welcome Section */
.welcome-section {
  text-align: center;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .welcome-section {
    margin-bottom: 2rem;
  }
}

.welcome-title {
  font-size: 1.8rem;
  font-weight: 800;
  color: #121826;
  margin-bottom: 1rem;
}

.welcome-title-span {
  color: #000e68;
  font-weight: 800;
}

@media (min-width: 768px) {
  .welcome-title {
    font-size: 1.875rem;
  }
}

@media (min-width: 1024px) {
  .welcome-title {
    font-size: 2rem;
  }
}

.welcome-description {
  font-size: 1.125rem;
  color: #4b5563;
  max-width: 32rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .welcome-description {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

/* Action Cards */
.action-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .action-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 5rem;
  }
}

.action-card-Lock {
  color: #021373;
}

.action-card-Withdraw {
  color: #4ca054;
}

/* Action Buttons */
.action-button {
  width: 100%;
  color: #ffffff;
  font-weight: 600;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.lock-button {
  background: linear-gradient(to right, #1e3a8a, #1e40af);
}

.lock-button:hover {
  background: linear-gradient(to right, #1e40af, #1d4ed8);
}

.withdraw-button {
  background: linear-gradient(to right, #16a34a, #22c55e);
}

.withdraw-button:hover {
  background: linear-gradient(to right, #22c55e, #4ade80);
}

/* Why Choose SuiSafe Section */
.features-section {
  padding: 0.5rem 1.5rem;
  text-align: center;

  background: #f3f6fe94;
}

.features-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #021373;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .features-title {
    font-size: 1.875rem;
    font-weight: 800;
  }
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .features-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

.feature-item {
  text-align: center;
}

.feature-title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #111827;
  margin-bottom: 0.75rem;
  text-align: left;
}

@media (min-width: 768px) {
  .feature-title {
    font-size: 1.25rem;
  }
}

.feature-description {
  color: #4b5563;
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: left;
}

@media (min-width: 768px) {
  .feature-description {
    font-size: 1rem;
  }
}
